<div class="contact-info">
  <div class="col-sm-3">
    MEET US
    <ul>
      <li>IN SWITZERLAND</li>
      <li>IN GERMANY</li>
      <li>IN ITALY</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <div class="swiss-addr">
      Solenix GmbH
      Bornstrasse 3
      CH-4616 Kappel
      Phone +41 62 216 35 02
    </div>
    <div class="ger-addr">
      Solenix Deutschland GmbH
      Spreestrasse 3
      D-64295 Darmstadt
      Phone +49 6151 870 91 0
    </div>
    <div class="it-addr">
      Solenix Italia SRL
      Via Umberto Giordano 70
      I-00124 Roma
    </div>
  </div>
  <div class="col-sm-3 media">
    <ul>
      <li>
        <a (mouseover)="test()" href="https://www.facebook.com/solenix.ch" target="_blank" class="media-link">
          <i class="fa-house"></i>Facebook
        </a>
      </li>
      <li><a (mouseover)="test()" href="https://www.linkedin.com/company/solenix/mycompany/" target="_blank" class="media-link">LinkedIn</a></li>
      <li><a (mouseover)="test()" href="https://www.xing.com/pages/solenix" target="_blank" class="media-link">Xing</a></li>
    </ul>
    <a routerLink="/legal" target="_blank" class="media-link">Legal</a>
    <a href="/privacy" target="_blank" class="media-link">Privacy</a>
    <a href="/xing" target="_blank" class="media-link">Contact</a>
  </div>
</div>